<% @title = "Provider: #{@provider.name}" %>

<%= render 'view', provider: @provider %>

<% if session[:siteadmin] %>
<div class="callout fill-warning">
  <h5>Admin Tools</h5>
  <%= link_to "Edit", edit_provider_path(@provider), class: "button secondary margin-0 rounded" %>
  <%= link_to "Delete", provider_path(@provider), class: "button alert margin-0 rounded", method: "delete" %>
</div>
<% end %>
