<% @title = "Edit Service: #{@service.id} #{@service.name}" %>

<h1>Edit Service</h1>

<%= render "form", service: @service, type_options: @type_options, provider_options: @provider_options, doctors: @doctors %>
