<h1 class="text-center">About Us</h1>

<h3>Who We Are</h3>
<p>
  After COVID-19, it was hard for people to reach their doctors and have in-person meetings with them. This was due to the pandemic severely limiting where people could go and how many people they should be interacting with. That is where we came in. We realized that some doctor visits were not necessarily physical, so a lot of those aspects could be accomplished virtually. We allow our patients to be easily examined online by our certified doctors. On our offered services we provide a select variety of different cares.
</p>

<h3>Mission Statement</h3>
<p>
  We look to connect our patients from around the world with the doctors they need in the comfort of their own home. This current pandemic has severely limited people’s access to proper doctors and we look to help connect that bridge. Even after the pandemic, we will still look to make appointments easier and more accessible.
</p>

<h3>Who are our Doctors?</h3>
<p>
  Our providers offer us handpicked certified doctors that meet the criteria for our offered services. We look to find the most qualified candidates to ensure that our patients receive the best online care possible.
</p>

<hr>

<%= render 'home/mainslider' %>
