<% @title = "Home" %>
<%= render 'mainslider' %>
  <h1 class="text-center">Welcome to DocLine!</h1>
  <p>We are focused on improving access to professional doctors by providing medical services through video calls on devices (i.e. phones, computers, tablets, etc.) so individuals no longer have to meet with a doctor in person. Our operators skillful,
    attentive and aptly trained to handle any client scenario.
  </p>
