<% @title = "400 Invalid" %>
  <div class="card">
    <div class="callout alert text-center">
      <h1>400 Invalid Request</h1>
    </div>
    <div class="card-section">
      <p>The server couldn't understand your request</p>
    </div>
  </div>
