<% @title = "401 Unauthorized" %>

<div class="card">
  <div class="callout alert text-center">
    <h1>401 Unauthorized</h1>
  </div>
  <div class="card-section">
    <p>You don't have access to this page</p>
    <p>Please authenticate and try again</p>
  </div>
</div>
